* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  background-color: #f4f6f5;
}

body {
  font-family: 'Raleway', sans-serif;
}


header {
  display: flex;
  height: 100px;
  width: 100%;
  padding: 33px 165px 32px 165px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  background: #E1EDE6;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 500px;
}

.header-block1 {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 165px;
  align-items: center;
  gap: 7px;
}

.header-icon-img {
  width: 35px;
  height: 35px;
}

.header-title {
  color: #598D66;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header-block2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 60px;
}

.Raleway {
  color: #2C2D35;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 61px;
  margin-top: 64px;
}

.main-title-text {
  width: 540px;
  height: 331px;
}

.h1-cactus {
  color: #2C2D35;
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  /* 66px */
}

.text1 {
  color: #86928B;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-top: 10px;
  margin-bottom: 10px;
  /* 27px */
}

.production-btn {
  display: inline-flex;
  height: 65px;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;

  color: #598D66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border-radius: 16px;
  border: 1px solid #598D66;
}

.main-content {
  display: flex;
  width: 1110px;
  height: 1460px;
}

.main-content-title {
  height: 44px;
}

.main-content-title-h1 {
  color: #2C2D35;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 44px */
}